# Task 31st July Pandas

https://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

https://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

Dataset 1: Agent Performance Data

Dataset 2: Agent Login Report

TASKS:

1.For each and every agent, Find out the weekly average rating for each agent (They workfor 5 days a week and not 7 days. So be careful with that. System will generate 7 records for a week)

2.Total Working Days for each Agent from Agent Performance Report

3.Total Queries taken by Agents

4.Total Feedback received by Agents

5.Agent Name who have average rating between 3.5 to 4

6.Agent Name who have rating less than 3.5

7.Agent Name who have rating more than 4.5

8.How many feedback agents have received more than Average

9.Average Weekly Response Time for each agent

10.Average Weekly Resolution Time for each agent

11.List of All Agents Name

12.Percentage of Chat on which they have recieved a feedback

13.Total Contribution hour for each and every agents weekly basis from Login Report Data

14.Total Percentage of Active Hour for a month

# Task 1 For each and every agent, Find out the weekly average rating for each agent (They workfor 5 days a week and not 7 days. So be careful with that. System will generate 7 records for a week)

In [3]:
import pandas as pd

In [9]:
df = pd.read_excel(r"C:\Users\Rajan\Downloads\AgentPerformance.xlsx", skiprows=1)
df.head(10)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN
5,6,2022-07-30,Mukesh,9,00:00:34,00:15:34,4.62,8,NaN
6,7,2022-07-30,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,NaN
7,8,2022-07-30,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,NaN
8,9,2022-07-30,Shubham Sharma,13,00:01:31,00:25:10,4.38,8,NaN
9,10,2022-07-30,Nishtha Jain,20,00:00:59,00:13:31,4.12,16,NaN

In [11]:
df1 = pd.read_excel(r"C:\Users\Rajan\Downloads\Agent_Login_Report.xls", skiprows=2)
df1.head(10)

   SL No               Agent       Date   Login Time  Logout Time  Duration
0      1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM  02:04:10
1      2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM  00:00:17
2      3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM  02:26:42
3      4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM  00:45:06
4      5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM  01:08:36
5      6   Sowmiya Sivakumar  30-Jul-22  02:03:11 PM  03:05:37 PM  01:02:26
6      7        Manjunatha A  30-Jul-22  02:00:12 PM  03:08:29 PM  01:08:16
7      8  Harikrishnan Shaji  30-Jul-22  01:53:05 PM  04:06:49 PM  02:13:43
8      9       Suraj S Bilgi  30-Jul-22  01:50:01 PM  03:11:42 PM  01:21:41
9     10            Shivan K  30-Jul-22  01:28:18 PM  01:59:00 PM  00:30:42

In [13]:
df['date']= pd.to_datetime(df['Date'])
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8,date
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN,2022-07-30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN,2022-07-30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN,2022-07-30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN,2022-07-30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN,2022-07-30

In [21]:
#Extracting week of the year from 'date'
df['date_week']= df['date'].dt.week
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8,date,date_week
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN,2022-07-30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN,2022-07-30,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN,2022-07-30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN,2022-07-30,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN,2022-07-30,30

In [19]:
!pip list

Package                            Version
---------------------------------- ---------
alabaster                          0.7.10
anaconda-client                    1.6.14
anaconda-navigator                 1.8.7
anaconda-project                   0.8.2
asn1crypto                         0.24.0
astroid                            1.6.3
astropy                            3.0.2
attrs                              18.1.0
Babel                              2.5.3
backcall                           0.1.0
backports.shutil-get-terminal-size 1.0.0
beautifulsoup4                     4.6.0
bitarray                           0.8.1
bkcharts                           0.2
blaze                              0.11.3
bleach                             2.1.3
bokeh                              0.12.16
boto                               2.48.0
Bottleneck                         1.2.1
certifi                            2018.4.16
cffi                               1.11.5
chardet                            3.0.4
chart-studio                       1.1.0
click                              6.7
cloudpickle                        0.5.3
clyent                             1.2.2
colorama                           0.3.9
colorlover                         0.3.0
comtypes                           1.1.4
conda                              4.5.4
conda-build                        3.10.5
conda-verify                       2.0.0
contextlib2                        0.5.5
cryptography                       2.2.2
cufflinks                          0.17.3
cycler                             0.10.0
Cython                             0.28.2
cytoolz                            0.9.0.1
dask                               0.17.5
datashape                          0.5.4
decorator                          4.3.0
distributed                        1.21.8
docutils                           0.14
entrypoints                        0.2.3
et-xmlfile                         1.0.1
fastcache                          1.0.2
filelock                           3.0.4
Flask                              1.0.2
Flask-Cors                         3.0.4
gevent                             1.3.0
glob2                              0.6
greenlet                           0.4.13
h5py                               2.7.1
heapdict                           1.0.0
html5lib                           1.0.1
idna                               2.6
imageio                            2.3.0
imagesize                          1.0.0
ipykernel                          4.8.2
ipython                            6.4.0
ipython-genutils                   0.2.0
ipywidgets                         7.2.1
isort                              4.3.4
itsdangerous                       0.24
jdcal                              1.4
jedi                               0.12.0
Jinja2                             2.10
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.3
jupyter-console                    5.2.0
jupyter-core                       4.4.0
jupyterlab                         0.32.1
jupyterlab-launcher                0.10.5
kiwisolver                         1.0.1
lazy-object-proxy                  1.3.1
llvmlite                           0.23.1
locket                             0.2.0
lxml                               4.2.1
MarkupSafe                         1.0
matplotlib                         2.2.2
mccabe                             0.6.1
menuinst                           1.4.14
mistune                            0.8.3
mkl-fft                            1.0.0
mkl-random                         1.0.1
more-itertools                     4.1.0
mpmath                             1.0.0
msgpack-python                     0.5.6
multipledispatch                   0.5.0
mysql-connector-python             8.0.27
navigator-updater                  0.2.1
nbconvert                          5.3.1
nbformat                           4.4.0
networkx                           2.1
nltk                               3.3
nose                               1.3.7
notebook                           5.5.0
numba                              0.38.0
numexpr                            2.6.5
numpy                              1.19.5
numpydoc                           0.8.0
odo                                0.5.1
olefile                            0.45.1
openpyxl                           2.5.3
packaging                          17.1
pandas                             0.23.0
pandocfilters                      1.4.2
parso                              0.2.0
partd                              0.3.8
path.py                            11.0.1
pathlib2                           2.3.2
patsy                              0.5.0
pep8                               1.7.1
pickleshare                        0.7.4
Pillow                             5.1.0
pip                                10.0.1
pkginfo                            1.4.2
plotly                             5.10.0
pluggy                             0.6.0
ply                                3.11
prompt-toolkit                     1.0.15
psutil                             5.4.5
py                                 1.5.3
pycodestyle                        2.4.0
pycosat                            0.6.3
pycparser                          2.18
pycrypto                           2.6.1
pycurl                             7.43.0.1
pyflakes                           1.6.0
Pygments                           2.2.0
pylint                             1.8.4
pyodbc                             4.0.23
pyOpenSSL                          18.0.0
pyparsing                          2.2.0
PySocks                            1.6.8
pytest                             3.5.1
pytest-arraydiff                   0.2
pytest-astropy                     0.3.0
pytest-doctestplus                 0.1.3
pytest-openfiles                   0.3.0
pytest-remotedata                  0.2.1
python-dateutil                    2.7.3
pytz                               2018.4
PyWavelets                         0.5.2
pywin32                            223
pywinpty                           0.5.1
PyYAML                             3.12
pyzmq                              17.0.0
QtAwesome                          0.4.4
qtconsole                          4.3.1
QtPy                               1.4.1
requests                           2.18.4
retrying                           1.3.3
rope                               0.10.7
ruamel-yaml                        0.15.35
scikit-image                       0.13.1
scikit-learn                       0.19.1
scipy                              1.1.0
seaborn                            0.11.2
Send2Trash                         1.5.0
setuptools                         39.1.0
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.11.0
snowballstemmer                    1.2.1
sortedcollections                  0.6.1
sortedcontainers                   1.5.10
Sphinx                             1.7.4
sphinxcontrib-websupport           1.0.1
spyder                             3.2.8
SQLAlchemy                         1.2.7
statsmodels                        0.9.0
sympy                              1.1.1
tables                             3.4.3
tblib                              1.3.2
tenacity                           8.0.1
terminado                          0.8.1
testpath                           0.3.1
toolz                              0.9.0
tornado                            5.0.2
traitlets                          4.3.2
typing                             3.6.4
unicodecsv                         0.14.1
urllib3                            1.22
wcwidth                            0.1.7
webencodings                       0.5.1
Werkzeug                           0.14.1
wheel                              0.31.1
widgetsnbextension                 3.2.1
win-inet-pton                      1.0.1
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.10.11
xlrd                               1.1.0
XlsxWriter                         1.0.4
xlwings                            0.11.8
xlwt                               1.3.0
zict                               0.1.3

You are using pip version 10.0.1, however version 21.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [27]:
#Extracting days from 'date'
df['date_days']=df['date'].dt.day
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8,date,date_week,date_days
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN,2022-07-30,30,30
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN,2022-07-30,30,30
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN,2022-07-30,30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN,2022-07-30,30,30
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN,2022-07-30,30,30
5,6,2022-07-30,Mukesh,9,00:00:34,00:15:34,4.62,8,NaN,2022-07-30,30,30
6,7,2022-07-30,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,NaN,2022-07-30,30,30
7,8,2022-07-30,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,NaN,2022-07-30,30,30
8,9,2022-07-30,Shubham Sharma,13,00:01:31,00:25:10,4.38,8,NaN,2022-07-30,30,30
9,10,2022-07-30,Nishtha Jain,20,00:00:59,00:13:31,4.12,16,NaN,2022-07-30,30,30
10,11,2022-07-30,Manjunatha A,11,00:00:47,00:42:56,3.60,5,NaN,2022-07-30,30,30
11,12,2022-07-30,Khushboo Priya,20,00:01:32,00:21:35,4.43,14,NaN,2022-07-30,30,30
12,13,2022-07-30,Suraj S Bilgi,20,00:01:21,00:31:26,4.36,11,NaN,2022-07-30,30,30
13,14,2022-07-30,Harikrishnan Shaji,13,00:00:42,00:25:49,4.57,7,NaN,2022-07-30,30,30
14,15,2022-07-30,Hrisikesh Neogi,28,00:01:24,00:26:57,4.30,20,NaN,2022-07-30,30,30
15,16,2022-07-30,Shivan K,18,00:01:13,00:15:42,4.17,12,NaN,2022-07-30,30,30
16,17,2022-07-30,Sowmiya Sivakumar,21,00:00:51,00:16:24,4.75,16,NaN,2022-07-30,30,30
17,18,2022-07-30,Madhulika G,22,00:01:13,00:27:54,4.25,12,NaN,2022-07-30,30,30
18,19,2022-07-30,Mithun S,23,00:00:42,00:10:15,4.05,20,NaN,2022-07-30,30,30
19,20,2022-07-30,Hitesh Choudhary,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
20,21,2022-07-30,Sanjeevan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
21,22,2022-07-30,Anirudh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
22,23,2022-07-30,Shiva Srivastava,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
23,24,2022-07-30,Dibyanshu,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
24,25,2022-07-30,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
25,26,2022-07-30,Uday Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
26,27,2022-07-30,Aditya Shinde,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
27,28,2022-07-30,Jayant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
28,29,2022-07-30,Aditya_iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
29,30,2022-07-30,Prabir Kumar Satapathy,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30
...,...,...,...,...,...,...,...,...,...,...,...,...
2130,2131,2022-07-01,Vasanth P,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2131,2132,2022-07-01,Amersh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2132,2133,2022-07-01,Ineuron Intelligence,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2133,2134,2022-07-01,Ishawant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2134,2135,2022-07-01,Sandipan Saha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2135,2136,2022-07-01,Mahak,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2136,2137,2022-07-01,Ameya Jain,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2137,2138,2022-07-01,Mukesh Rao,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2138,2139,2022-07-01,Zeeshan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2139,2140,2022-07-01,Aditya,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2140,2141,2022-07-01,Ankitjha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2141,2142,2022-07-01,Saif Khan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2142,2143,2022-07-01,Anurag Tiwari,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2143,2144,2022-07-01,Maneesh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2144,2145,2022-07-01,Harikrishnan Shaji,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2145,2146,2022-07-01,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2146,2147,2022-07-01,Prateek _iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2147,2148,2022-07-01,Rohan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2148,2149,2022-07-01,Saikumarreddy N,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2149,2150,2022-07-01,Sudhanshu Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2150,2151,2022-07-01,Spuri,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2151,2152,2022-07-01,Suraj S Bilgi,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2152,2153,2022-07-01,Nandani Gupta,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2153,2154,2022-07-01,Shivan_S,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2154,2155,2022-07-01,Mahesh Sarade,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1

In [26]:
df_mean=df.groupby(['Agent Name','date_week'])['Average Rating'].mean().to_frame()
df_mean

                         Average Rating
Agent Name    date_week
Abhishek      26               0.000000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Aditya        26               0.000000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Aditya Shinde 26               2.566667
              27               3.225714
              28               3.390000
              29               0.000000
              30               0.000000
Aditya_iot    26               0.000000
              27               1.232857
              28               2.928571
              29               3.114286
              30               3.238333
Amersh        26               0.000000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Ameya Jain    26               0.000000
              27               0.571429
              28               3.040000
              29               3.188571
              30               3.165000
...                                 ...
Tarun         26               0.500000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Uday Mishra   26               0.000000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Vasanth P     26               0.000000
              27               0.000000
              28               0.000000
              29               0.000000
              30               0.000000
Vivek         26               0.000000
              27               1.200000
              28               0.945714
              29               0.000000
              30               0.000000
Wasim         26               0.000000
              27               0.637143
              28               3.138571
              29               3.440000
              30               3.581667
Zeeshan       26               0.000000
              27               1.307143
              28               2.948571
              29               3.180000
              30               2.760000

[350 rows x 1 columns]

# Task 2.Total Working Days for each Agent from Agent Performance Report

In [30]:
df1.groupby('Agent')['Date'].count()

Agent
Aditya Shinde               1
Aditya_iot                  9
Amersh                      4
Ameya Jain                 10
Ankitjha                    4
Anurag Tiwari              37
Aravind                    10
Ayushi Mishra              18
Bharath                     9
Boktiar Ahmed Bappy        17
Chaitra K Hiremath         13
Deepranjan Gupta           58
Dibyanshu                 208
Harikrishnan Shaji         23
Hrisikesh Neogi            37
Hyder Abbas                 2
Ineuron Intelligence        1
Ishawant Kumar             49
Jawala Prakash             16
Jaydeep Dixit              11
Khushboo Priya             18
Madhulika G                17
Mahesh Sarade              36
Maitry                      5
Manjunatha A                8
Mithun S                   14
Mukesh                      3
Muskan Garg                12
Nandani Gupta              11
Nishtha Jain               18
Nitin M                     1
Prabir Kumar Satapathy     26
Prateek _iot               17
Prerna Singh               18
Rishav Dash                12
Saikumarreddy N            10
Sanjeev Kumar              20
Saurabh Shukla             40
Shiva Srivastava           15
Shivan K                   36
Shivananda Sonwane         15
Shubham Sharma             35
Sowmiya Sivakumar          24
Sudhanshu Kumar            11
Suraj S Bilgi               5
Swati                       5
Tarun                       1
Wasim                      20
Zeeshan                    10
Name: Date, dtype: int64

# Task 3.Total Queries taken by Agents

In [32]:
df.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek                    0
Aditya                      0
Aditya Shinde             277
Aditya_iot                231
Amersh                      0
Ameya Jain                322
Anirudh                    81
Ankit Sharma                0
Ankitjha                    5
Anurag Tiwari               4
Aravind                   366
Ashad Nasim                18
Ashish                      0
Ayushi Mishra             514
Bharath                   369
Boktiar Ahmed Bappy       452
Chaitra K Hiremath         64
Deepranjan Gupta          493
Dibyanshu                   1
Harikrishnan Shaji        381
Hitesh Choudhary            1
Hrisikesh Neogi           578
Hyder Abbas                 0
Ineuron Intelligence        0
Ishawant Kumar            338
Jawala Prakash            439
Jayant Kumar              127
Jaydeep Dixit             512
Khushboo Priya            446
Madhulika G               469
                         ...
Nishtha Jain              373
Nitin M                     0
Prabir Kumar Satapathy    299
Prateek _iot              190
Prerna Singh              401
Rishav Dash               409
Rohan                       0
Saif Khan                   0
Saikumarreddy N           364
Samprit                     1
Sandipan Saha              30
Sanjeev Kumar             507
Sanjeevan                   0
Saurabh Shukla             16
Shiva Srivastava           53
Shivan K                  357
Shivan_S                    7
Shivananda Sonwane        441
Shubham Sharma            510
Sowmiya Sivakumar         206
Spuri                       0
Sudhanshu Kumar             2
Suraj S Bilgi              28
Swati                     524
Tarun                      22
Uday Mishra                 0
Vasanth P                   0
Vivek                      44
Wasim                     433
Zeeshan                   542
Name: Total Chats, Length: 70, dtype: int64

# Task 4.Total Feedback received by Agents

In [33]:
df.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek                    0
Aditya                      0
Aditya Shinde             153
Aditya_iot                131
Amersh                      0
Ameya Jain                228
Anirudh                    39
Ankit Sharma                0
Ankitjha                    3
Anurag Tiwari               3
Aravind                   233
Ashad Nasim                 9
Ashish                      0
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       311
Chaitra K Hiremath         37
Deepranjan Gupta          312
Dibyanshu                   0
Harikrishnan Shaji        231
Hitesh Choudhary            0
Hrisikesh Neogi           367
Hyder Abbas                 0
Ineuron Intelligence        0
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
                         ...
Nishtha Jain              257
Nitin M                     0
Prabir Kumar Satapathy    222
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Rohan                       0
Saif Khan                   0
Saikumarreddy N           290
Samprit                     0
Sandipan Saha              18
Sanjeev Kumar             311
Sanjeevan                   0
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Spuri                       0
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Tarun                       6
Uday Mishra                 0
Vasanth P                   0
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, Length: 70, dtype: int64

# Task 5.Agent Name who have average rating between 3.5 to 4

In [39]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4)]['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Saurabh Shukla',
       'Aditya Shinde'], dtype=object)

In [38]:
df[(df['Average Rating']>3.5) & (df['Average Rating']<4)]['Agent N']

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
82            Mahesh Sarade
83                 Zeeshan
91          Hrisikesh Neogi
157          Khushboo Priya
158                  Wasim
217          Jawala Prakash
232            Nishtha Jain
294           Nandani Gupta
296            Prerna Singh
355     Boktiar Ahmed Bappy
365             Muskan Garg
375      Harikrishnan Shaji
380                  Wasim
434        Deepranjan Gupta
439           Mahesh Sarade
444            Nishtha Jain
446                Shivan K
447             Madhulika G
448             Rishav Dash
506                 Maitry
516            Nishtha Jain
517          Khushboo Priya
575     Boktiar Ahmed Bappy
588             Rishav Dash
595                Mithun S
               ...
1011     Shivananda Sonwane
1022          Mahesh Sarade
1027               Mithun S
1076         Ishawant Kumar
1086            Aditya_iot
1171          Sandipan Saha
1221            Madhulika G
1232          Ayushi Mishra
1235        Hrisikesh Neogi
1238          Nandani Gupta
1242     Harikrishnan Shaji
1292           Nishtha Jain
1296               Anirudh
1302                 Swati
1303                Maitry
1316               Zeeshan
1366           Nishtha Jain
1378                 Wasim
1439         Ishawant Kumar
1454           Jayant Kumar
1596               Mithun S
1669         Saurabh Shukla
1671            Aditya_iot
1727                Maitry
1748     Shivananda Sonwane
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent Name, Length: 78, dtype: object

# Task 6.Agent Name who have rating less than 3.5

In [40]:
df[(df['Average Rating']<3.5)]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

In [35]:
df[(df['Average Rating']<3.5)]['Agent Name']

1                Nandani Gupta
19            Hitesh Choudhary
20                  Sanjeevan
21                    Anirudh
22            Shiva Srivastava
23                  Dibyanshu
24                     Ashish
25                 Uday Mishra
26               Aditya Shinde
27                Jayant Kumar
28                 Aditya_iot
29      Prabir Kumar Satapathy
30              Saurabh Shukla
31                      Wasim
32                    Samprit
33                     Maitry
34                   Abhishek
35                 Rishav Dash
36                    Aravind
37                      Tarun
38                 Muskan Garg
39                Ankit Sharma
40                    Bharath
41                 Ashad Nasim
42                   Vasanth P
43                     Aditya
44                     Amersh
45               Sandipan Saha
46       Ineuron Intelligence
47                      Mahak
                 ...
2130                 Vasanth P
2131                   Amersh
2132     Ineuron Intelligence
2133            Ishawant Kumar
2134             Sandipan Saha
2135                    Mahak
2136                Ameya Jain
2137               Mukesh Rao
2138                  Zeeshan
2139                   Aditya
2140                 Ankitjha
2141                 Saif Khan
2142             Anurag Tiwari
2143                  Maneesh
2144        Harikrishnan Shaji
2145                   Ashish
2146             Prateek _iot
2147                    Rohan
2148           Saikumarreddy N
2149           Sudhanshu Kumar
2150                    Spuri
2151             Suraj S Bilgi
2152             Nandani Gupta
2153                 Shivan_S
2154             Mahesh Sarade
2155         Sowmiya Sivakumar
2156                   Nitin M
2157                    Vivek
2158             Ayushi Mishra
2159        Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

# Task 7.Agent Name who have rating more than 4.5

In [41]:
df[(df['Average Rating']>4.5)]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [36]:
df[(df['Average Rating']>4.5)]['Agent Name']

2                Ameya Jain
3             Mahesh Sarade
5                   Mukesh
6           Saikumarreddy N
7             Sanjeev Kumar
13       Harikrishnan Shaji
16        Sowmiya Sivakumar
67      Boktiar Ahmed Bappy
68       Shivananda Sonwane
69           Ishawant Kumar
70         Deepranjan Gupta
72       Shivananda Sonwane
75              Muskan Garg
77              Aditya_iot
84                  Mukesh
85       Chaitra K Hiremath
86            Suraj S Bilgi
88                 Mithun S
93                   Wasim
95                 Bharath
140          Ishawant Kumar
141          Jawala Prakash
142           Ayushi Mishra
151              Ameya Jain
163                Bharath
212          Ishawant Kumar
213      Shivananda Sonwane
216          Ishawant Kumar
220           Prateek _iot
224           Sanjeev Kumar
               ...
1872           Nishtha Jain
1873         Khushboo Priya
1875               Bharath
1879     Shivananda Sonwane
1880          Jaydeep Dixit
1881           Prerna Singh
1882          Aditya Shinde
1945    Boktiar Ahmed Bappy
1948               Bharath
1949       Deepranjan Gupta
1950          Nandani Gupta
1954            Rishav Dash
2013     Shivananda Sonwane
2014            Madhulika G
2016            Madhulika G
2022               Bharath
2026         Shubham Sharma
2027          Jaydeep Dixit
2085    Boktiar Ahmed Bappy
2086         Jawala Prakash
2087           Manjunatha A
2088           Manjunatha A
2094                Maitry
2096                 Swati
2098               Shivan K
2100         Shubham Sharma
2101          Jaydeep Dixit
2102     Shivananda Sonwane
2103         Khushboo Priya
2104        Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

# Task 8.How many feedback agents have received more than Average

In [76]:
df2= pd.DataFrame(df[df['Average Rating']>4.5].groupby(['Agent Name'])'Total Feedback'].sum())
df2

SyntaxError: invalid syntax (<ipython-input-76-620852b6e3eb>, line 1)

In [78]:
df8 = pd.DataFrame(df[df['Average Rating'] > 4.5].groupby(['Agent Name'])['Total Feedback'].sum())
df8

                        Total Feedback
Agent Name
Aditya Shinde                       73
Aditya_iot                          43
Ameya Jain                         150
Anirudh                              2
Ankitjha                             1
Aravind                            178
Ayushi Mishra                       75
Bharath                            231
Boktiar Ahmed Bappy                 52
Chaitra K Hiremath                   5
Deepranjan Gupta                    83
Harikrishnan Shaji                  80
Hrisikesh Neogi                    183
Ishawant Kumar                      79
Jawala Prakash                      33
Jayant Kumar                         7
Jaydeep Dixit                      179
Khushboo Priya                     134
Madhulika G                         67
Mahesh Sarade                       46
Maitry                              81
Manjunatha A                       132
Mithun S                            93
Mukesh                              17
Mukesh Rao                           1
Muskan Garg                         14
Nandani Gupta                       91
Nishtha Jain                        18
Prabir Kumar Satapathy              53
Prateek _iot                        54
Prerna Singh                        82
Rishav Dash                         27
Saikumarreddy N                    184
Sandipan Saha                        1
Sanjeev Kumar                      164
Saurabh Shukla                       3
Shiva Srivastava                     2
Shivan K                           130
Shivananda Sonwane                 154
Shubham Sharma                     155
Sowmiya Sivakumar                   16
Sudhanshu Kumar                      2
Suraj S Bilgi                        4
Swati                              103
Vivek                                3
Wasim                              156
Zeeshan                             48

# Task 9: Average Weekly Response Time for each agent

In [79]:
def time_secs(time_str):
    hh, mm, ss =time_str.split(':')
    return int(hh) * 3600 + int(mm) * 60 + int(ss)

average_response_sec =[]
for t in df['Average Response Time']:
    average_response_sec.append(time_secs(t))
average_response_sec
df['average_response_sec']= average_response_sec
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8,date,date_week,date_days,average_response_sec,average_resolution_time
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN,2022-07-30,30,30,38,260
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN,2022-07-30,30,30,75,1705
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN,2022-07-30,30,30,30,696
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN,2022-07-30,30,30,64,946
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN,2022-07-30,30,30,71,993
5,6,2022-07-30,Mukesh,9,00:00:34,00:15:34,4.62,8,NaN,2022-07-30,30,30,34,934
6,7,2022-07-30,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,NaN,2022-07-30,30,30,31,669
7,8,2022-07-30,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,NaN,2022-07-30,30,30,55,1243
8,9,2022-07-30,Shubham Sharma,13,00:01:31,00:25:10,4.38,8,NaN,2022-07-30,30,30,91,1510
9,10,2022-07-30,Nishtha Jain,20,00:00:59,00:13:31,4.12,16,NaN,2022-07-30,30,30,59,811
10,11,2022-07-30,Manjunatha A,11,00:00:47,00:42:56,3.60,5,NaN,2022-07-30,30,30,47,2576
11,12,2022-07-30,Khushboo Priya,20,00:01:32,00:21:35,4.43,14,NaN,2022-07-30,30,30,92,1295
12,13,2022-07-30,Suraj S Bilgi,20,00:01:21,00:31:26,4.36,11,NaN,2022-07-30,30,30,81,1886
13,14,2022-07-30,Harikrishnan Shaji,13,00:00:42,00:25:49,4.57,7,NaN,2022-07-30,30,30,42,1549
14,15,2022-07-30,Hrisikesh Neogi,28,00:01:24,00:26:57,4.30,20,NaN,2022-07-30,30,30,84,1617
15,16,2022-07-30,Shivan K,18,00:01:13,00:15:42,4.17,12,NaN,2022-07-30,30,30,73,942
16,17,2022-07-30,Sowmiya Sivakumar,21,00:00:51,00:16:24,4.75,16,NaN,2022-07-30,30,30,51,984
17,18,2022-07-30,Madhulika G,22,00:01:13,00:27:54,4.25,12,NaN,2022-07-30,30,30,73,1674
18,19,2022-07-30,Mithun S,23,00:00:42,00:10:15,4.05,20,NaN,2022-07-30,30,30,42,615
19,20,2022-07-30,Hitesh Choudhary,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
20,21,2022-07-30,Sanjeevan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
21,22,2022-07-30,Anirudh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
22,23,2022-07-30,Shiva Srivastava,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
23,24,2022-07-30,Dibyanshu,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
24,25,2022-07-30,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
25,26,2022-07-30,Uday Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
26,27,2022-07-30,Aditya Shinde,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
27,28,2022-07-30,Jayant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
28,29,2022-07-30,Aditya_iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
29,30,2022-07-30,Prabir Kumar Satapathy,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130,2131,2022-07-01,Vasanth P,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2131,2132,2022-07-01,Amersh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2132,2133,2022-07-01,Ineuron Intelligence,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2133,2134,2022-07-01,Ishawant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2134,2135,2022-07-01,Sandipan Saha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2135,2136,2022-07-01,Mahak,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2136,2137,2022-07-01,Ameya Jain,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2137,2138,2022-07-01,Mukesh Rao,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2138,2139,2022-07-01,Zeeshan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2139,2140,2022-07-01,Aditya,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2140,2141,2022-07-01,Ankitjha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2141,2142,2022-07-01,Saif Khan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2142,2143,2022-07-01,Anurag Tiwari,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2143,2144,2022-07-01,Maneesh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2144,2145,2022-07-01,Harikrishnan Shaji,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2145,2146,2022-07-01,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2146,2147,2022-07-01,Prateek _iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2147,2148,2022-07-01,Rohan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2148,2149,2022-07-01,Saikumarreddy N,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2149,2150,2022-07-01,Sudhanshu Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2150,2151,2022-07-01,Spuri,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2151,2152,2022-07-01,Suraj S Bilgi,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2152,2153,2022-07-01,Nandani Gupta,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2153,2154,2022-07-01,Shivan_S,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2154,2155,2022-07-01,Mahesh Sarade,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0

In [80]:
df.groupby(['Agent Name', 'date_week'])['average_response_sec'].mean()

Agent Name     date_week
Abhishek       26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Aditya         26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Aditya Shinde  26            55.333333
               27            47.285714
               28            56.428571
               29             0.000000
               30             0.000000
Aditya_iot     26             0.000000
               27            20.142857
               28            52.000000
               29            30.142857
               30            50.500000
Amersh         26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Ameya Jain     26             0.000000
               27             0.000000
               28            32.571429
               29            29.714286
               30            33.000000
                               ...
Tarun          26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Uday Mishra    26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Vasanth P      26             0.000000
               27             0.000000
               28             0.000000
               29             0.000000
               30             0.000000
Vivek          26             0.000000
               27            15.285714
               28            43.428571
               29             0.000000
               30             0.000000
Wasim          26             0.000000
               27             8.000000
               28            29.857143
               29            46.142857
               30            50.500000
Zeeshan        26             0.000000
               27            23.571429
               28           123.428571
               29            62.857143
               30            63.833333
Name: average_response_sec, Length: 350, dtype: float64

# Task 10: Average Weekly Resolution Time for each agent

In [81]:
average_resolution_time=[]
for t in df['Average Resolution Time']:
    average_resolution_time.append(time_secs(t))
average_resolution_time

df['average_resolution_time']= average_resolution_time
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Unnamed: 8,date,date_week,date_days,average_response_sec,average_resolution_time
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,NaN,2022-07-30,30,30,38,260
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,NaN,2022-07-30,30,30,75,1705
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,NaN,2022-07-30,30,30,30,696
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,NaN,2022-07-30,30,30,64,946
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,NaN,2022-07-30,30,30,71,993
5,6,2022-07-30,Mukesh,9,00:00:34,00:15:34,4.62,8,NaN,2022-07-30,30,30,34,934
6,7,2022-07-30,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,NaN,2022-07-30,30,30,31,669
7,8,2022-07-30,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,NaN,2022-07-30,30,30,55,1243
8,9,2022-07-30,Shubham Sharma,13,00:01:31,00:25:10,4.38,8,NaN,2022-07-30,30,30,91,1510
9,10,2022-07-30,Nishtha Jain,20,00:00:59,00:13:31,4.12,16,NaN,2022-07-30,30,30,59,811
10,11,2022-07-30,Manjunatha A,11,00:00:47,00:42:56,3.60,5,NaN,2022-07-30,30,30,47,2576
11,12,2022-07-30,Khushboo Priya,20,00:01:32,00:21:35,4.43,14,NaN,2022-07-30,30,30,92,1295
12,13,2022-07-30,Suraj S Bilgi,20,00:01:21,00:31:26,4.36,11,NaN,2022-07-30,30,30,81,1886
13,14,2022-07-30,Harikrishnan Shaji,13,00:00:42,00:25:49,4.57,7,NaN,2022-07-30,30,30,42,1549
14,15,2022-07-30,Hrisikesh Neogi,28,00:01:24,00:26:57,4.30,20,NaN,2022-07-30,30,30,84,1617
15,16,2022-07-30,Shivan K,18,00:01:13,00:15:42,4.17,12,NaN,2022-07-30,30,30,73,942
16,17,2022-07-30,Sowmiya Sivakumar,21,00:00:51,00:16:24,4.75,16,NaN,2022-07-30,30,30,51,984
17,18,2022-07-30,Madhulika G,22,00:01:13,00:27:54,4.25,12,NaN,2022-07-30,30,30,73,1674
18,19,2022-07-30,Mithun S,23,00:00:42,00:10:15,4.05,20,NaN,2022-07-30,30,30,42,615
19,20,2022-07-30,Hitesh Choudhary,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
20,21,2022-07-30,Sanjeevan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
21,22,2022-07-30,Anirudh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
22,23,2022-07-30,Shiva Srivastava,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
23,24,2022-07-30,Dibyanshu,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
24,25,2022-07-30,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
25,26,2022-07-30,Uday Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
26,27,2022-07-30,Aditya Shinde,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
27,28,2022-07-30,Jayant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
28,29,2022-07-30,Aditya_iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
29,30,2022-07-30,Prabir Kumar Satapathy,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-30,30,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130,2131,2022-07-01,Vasanth P,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2131,2132,2022-07-01,Amersh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2132,2133,2022-07-01,Ineuron Intelligence,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2133,2134,2022-07-01,Ishawant Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2134,2135,2022-07-01,Sandipan Saha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2135,2136,2022-07-01,Mahak,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2136,2137,2022-07-01,Ameya Jain,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2137,2138,2022-07-01,Mukesh Rao,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2138,2139,2022-07-01,Zeeshan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2139,2140,2022-07-01,Aditya,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2140,2141,2022-07-01,Ankitjha,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2141,2142,2022-07-01,Saif Khan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2142,2143,2022-07-01,Anurag Tiwari,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2143,2144,2022-07-01,Maneesh,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2144,2145,2022-07-01,Harikrishnan Shaji,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2145,2146,2022-07-01,Ashish,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2146,2147,2022-07-01,Prateek _iot,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2147,2148,2022-07-01,Rohan,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2148,2149,2022-07-01,Saikumarreddy N,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2149,2150,2022-07-01,Sudhanshu Kumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2150,2151,2022-07-01,Spuri,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2151,2152,2022-07-01,Suraj S Bilgi,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2152,2153,2022-07-01,Nandani Gupta,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2153,2154,2022-07-01,Shivan_S,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2154,2155,2022-07-01,Mahesh Sarade,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,NaN,2022-07-01,26,1,0,0

In [58]:
df.groupby(['Agent Name','date_week'])['average_resolution_time'].mean()

Agent Name     date_week
Abhishek       26              0.000000
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Aditya         26              0.000000
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Aditya Shinde  26            927.000000
               27            903.857143
               28           1358.714286
               29              0.000000
               30              0.000000
Aditya_iot     26              0.000000
               27            309.857143
               28            911.000000
               29            672.142857
               30            738.000000
Amersh         26              0.000000
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Ameya Jain     26              0.000000
               27             15.285714
               28            483.714286
               29            497.857143
               30            479.500000
                               ...
Tarun          26            904.666667
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Uday Mishra    26              0.000000
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Vasanth P      26              0.000000
               27              0.000000
               28              0.000000
               29              0.000000
               30              0.000000
Vivek          26              0.000000
               27            145.000000
               28            509.714286
               29              0.000000
               30              0.000000
Wasim          26              0.000000
               27            196.142857
               28            867.000000
               29            985.000000
               30           1054.833333
Zeeshan        26              0.000000
               27            323.000000
               28            984.285714
               29            794.285714
               30            773.500000
Name: average_resolution_time, Length: 350, dtype: float64

# Task 11 . List of all agents name

In [82]:
pd.DataFrame(df['Agent Name'].unique())

                         0
0             Prerna Singh
1            Nandani Gupta
2               Ameya Jain
3            Mahesh Sarade
4                   Swati
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
8           Shubham Sharma
9             Nishtha Jain
10            Manjunatha A
11          Khushboo Priya
12           Suraj S Bilgi
13      Harikrishnan Shaji
14         Hrisikesh Neogi
15                Shivan K
16       Sowmiya Sivakumar
17             Madhulika G
18                Mithun S
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
23              Dibyanshu
24                 Ashish
25             Uday Mishra
26           Aditya Shinde
27            Jayant Kumar
28             Aditya_iot
29  Prabir Kumar Satapathy
..                     ...
40                Bharath
41             Ashad Nasim
42               Vasanth P
43                 Aditya
44                 Amersh
45           Sandipan Saha
46   Ineuron Intelligence
47                  Mahak
48             Mukesh Rao
49                Zeeshan
50           Anurag Tiwari
51               Ankitjha
52               Saif Khan
53           Jaydeep Dixit
54         Sudhanshu Kumar
55                Maneesh
56             Hyder Abbas
57                  Rohan
58                  Vivek
59                 Nitin M
60               Shivan_S
61                  Spuri
62           Ayushi Mishra
63      Chaitra K Hiremath
64           Prateek _iot
65     Boktiar Ahmed Bappy
66      Shivananda Sonwane
67          Ishawant Kumar
68        Deepranjan Gupta
69          Jawala Prakash

[70 rows x 1 columns]

# Task 12 . percentage of chat on which they have received a feedback

In [83]:
df4= pd.DataFrame(df[df['Total Chats'] > 0].groupby(['Agent Name'])['Total Chats' , 'Total Feedback'].sum())
df4['Percentage feedback'] = df4['Total Feedback']/ df4['Total Chats'] *100
df4

                        Total Chats  Total Feedback  Percentage feedback
Agent Name
Aditya Shinde                   277             153            55.234657
Aditya_iot                      231             131            56.709957
Ameya Jain                      322             228            70.807453
Anirudh                          81              39            48.148148
Ankitjha                          5               3            60.000000
Anurag Tiwari                     4               3            75.000000
Aravind                         366             233            63.661202
Ashad Nasim                      18               9            50.000000
Ayushi Mishra                   514             329            64.007782
Bharath                         369             247            66.937669
Boktiar Ahmed Bappy             452             311            68.805310
Chaitra K Hiremath               64              37            57.812500
Deepranjan Gupta                493             312            63.286004
Dibyanshu                         1               0             0.000000
Harikrishnan Shaji              381             231            60.629921
Hitesh Choudhary                  1               0             0.000000
Hrisikesh Neogi                 578             367            63.494810
Ishawant Kumar                  338             202            59.763314
Jawala Prakash                  439             250            56.947608
Jayant Kumar                    127              70            55.118110
Jaydeep Dixit                   512             305            59.570312
Khushboo Priya                  446             289            64.798206
Madhulika G                     469             281            59.914712
Mahak                             7               5            71.428571
Mahesh Sarade                   364             216            59.340659
Maitry                          542             347            64.022140
Maneesh                           4               3            75.000000
Manjunatha A                    413             254            61.501211
Mithun S                        503             364            72.365805
Mukesh                           19              17            89.473684
Mukesh Rao                        5               5           100.000000
Muskan Garg                      56              37            66.071429
Nandani Gupta                   560             308            55.000000
Nishtha Jain                    373             257            68.900804
Prabir Kumar Satapathy          299             222            74.247492
Prateek _iot                    190             107            56.315789
Prerna Singh                    401             235            58.603491
Rishav Dash                     409             264            64.547677
Saikumarreddy N                 364             290            79.670330
Samprit                           1               0             0.000000
Sandipan Saha                    30              18            60.000000
Sanjeev Kumar                   507             311            61.341223
Saurabh Shukla                   16               8            50.000000
Shiva Srivastava                 53              46            86.792453
Shivan K                        357             243            68.067227
Shivan_S                          7               4            57.142857
Shivananda Sonwane              441             263            59.637188
Shubham Sharma                  510             300            58.823529
Sowmiya Sivakumar               206             141            68.446602
Sudhanshu Kumar                   2               2           100.000000
Suraj S Bilgi                    28              15            53.571429
Swati                           524             302            57.633588
Tarun                            22               6            27.272727
Vivek                            44              20            45.454545
Wasim                           433             284            65.588915
Zeeshan                         542             335            61.808118

# Task 13 . Total contributation hour for each and every agents weekly basis

In [84]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [87]:
df1['week'] = df1['Date'].dt.week

In [96]:
Total_duration_secs=[]
for t in df1['Duration']:
    Total_duration_secs.append(time_secs(t))
Total_duration_secs
df1['Total_duration_secs'] = Total_duration_secs

In [97]:
df1['hours']=df1['Total_duration_secs']//3600

In [100]:
df1.groupby(['Agent','week'])['hours'].mean()

Agent                  week
Aditya Shinde          30        0.000000
Aditya_iot             29        1.666667
                       30        1.166667
Amersh                 30        0.500000
Ameya Jain             29        3.000000
                       30        5.333333
Ankitjha               30        0.500000
Anurag Tiwari          29        0.000000
                       30        0.000000
Aravind                29        2.875000
                       30        0.000000
Ayushi Mishra          29        3.000000
                       30        1.230769
Bharath                29        4.600000
                       30        5.500000
Boktiar Ahmed Bappy    29        2.800000
                       30        1.333333
Chaitra K Hiremath     29        1.000000
                       30        2.636364
Deepranjan Gupta       29        1.538462
                       30        1.531250
Dibyanshu              29        0.099010
                       30        0.102804
Harikrishnan Shaji     29        2.000000
                       30        1.857143
Hrisikesh Neogi        29        1.428571
                       30        0.826087
Hyder Abbas            29        0.000000
                       30        0.000000
Ineuron Intelligence   29        1.000000
                                  ...
Prateek _iot           30        1.125000
Prerna Singh           29        2.833333
                       30        1.916667
Rishav Dash            29        2.428571
                       30        4.000000
Saikumarreddy N        29        4.000000
                       30        4.250000
Sanjeev Kumar          29        1.636364
                       30        2.555556
Saurabh Shukla         29        0.250000
Shiva Srivastava       29        0.200000
                       30        1.000000
Shivan K               29        0.916667
                       30        0.458333
Shivananda Sonwane     29        4.000000
                       30        2.600000
Shubham Sharma         29        1.136364
                       30        1.538462
Sowmiya Sivakumar      29        2.000000
                       30        1.294118
Sudhanshu Kumar        29        2.500000
                       30        7.000000
Suraj S Bilgi          30        2.000000
Swati                  29        4.500000
                       30        6.000000
Tarun                  26      514.000000
Wasim                  29        2.000000
                       30        2.272727
Zeeshan                29        3.833333
                       30        6.000000
Name: hours, Length: 89, dtype: float64

# Task 14: total percentage of active hour for a month

In [103]:
df1['month'] = df1['Date'].dt.month
df1

,SL No,Agent,Date,Login Time,Logout Time,Duration,month,Week,Duration_sec,week,Total_duration_secs,hours
0,1,Shivananda Sonwane,2022-07-30,03:35:29 PM,05:39:39 PM,02:04:10,7,30,7450,30,7450,2
1,2,Khushboo Priya,2022-07-30,03:06:59 PM,03:07:16 PM,00:00:17,7,30,17,30,17,0
2,3,Nandani Gupta,2022-07-30,03:04:24 PM,05:31:07 PM,02:26:42,7,30,8802,30,8802,2
3,4,Hrisikesh Neogi,2022-07-30,02:34:29 PM,03:19:35 PM,00:45:06,7,30,2706,30,2706,0
4,5,Mukesh,2022-07-30,02:03:15 PM,03:11:52 PM,01:08:36,7,30,4116,30,4116,1
5,6,Sowmiya Sivakumar,2022-07-30,02:03:11 PM,03:05:37 PM,01:02:26,7,30,3746,30,3746,1
6,7,Manjunatha A,2022-07-30,02:00:12 PM,03:08:29 PM,01:08:16,7,30,4096,30,4096,1
7,8,Harikrishnan Shaji,2022-07-30,01:53:05 PM,04:06:49 PM,02:13:43,7,30,8023,30,8023,2
8,9,Suraj S Bilgi,2022-07-30,01:50:01 PM,03:11:42 PM,01:21:41,7,30,4901,30,4901,1
9,10,Shivan K,2022-07-30,01:28:18 PM,01:59:00 PM,00:30:42,7,30,1842,30,1842,0
10,11,Anurag Tiwari,2022-07-30,01:06:12 PM,01:11:57 PM,00:05:44,7,30,344,30,344,0
11,12,Ishawant Kumar,2022-07-30,01:05:35 PM,01:12:45 PM,00:07:10,7,30,430,30,430,0
12,13,Shivan K,2022-07-30,01:01:33 PM,01:27:53 PM,00:26:20,7,30,1580,30,1580,0
13,14,Shubham Sharma,2022-07-30,12:48:50 PM,01:03:10 PM,00:14:20,7,30,860,30,860,0
14,15,Shivan K,2022-07-30,12:34:27 PM,12:40:37 PM,00:06:10,7,30,370,30,370,0
15,16,Prerna Singh,2022-07-30,12:32:28 PM,02:10:08 PM,01:37:40,7,30,5860,30,5860,1
16,17,Shivan K,2022-07-30,12:26:15 PM,12:28:15 PM,00:02:00,7,30,120,30,120,0
17,18,Shivan K,2022-07-30,11:54:57 AM,12:13:38 PM,00:18:40,7,30,1120,30,1120,0
18,19,Hrisikesh Neogi,2022-07-30,11:48:23 AM,02:23:52 PM,02:35:29,7,30,9329,30,9329,2
19,20,Khushboo Priya,2022-07-30,11:35:29 AM,03:06:52 PM,03:31:22,7,30,12682,30,12682,3
20,21,Nishtha Jain,2022-07-30,11:34:54 AM,03:06:11 PM,03:31:17,7,30,12677,30,12677,3
21,22,Prateek _iot,2022-07-30,11:16:36 AM,11:20:26 AM,00:03:50,7,30,230,30,230,0
22,23,Hrisikesh Neogi,2022-07-30,10:07:31 AM,11:44:57 AM,01:37:25,7,30,5845,30,5845,1
23,24,Shivan K,2022-07-30,09:22:39 AM,11:54:03 AM,02:31:23,7,30,9083,30,9083,2
24,25,Nishtha Jain,2022-07-30,09:19:25 AM,10:50:37 AM,01:31:12,7,30,5472,30,5472,1
25,26,Khushboo Priya,2022-07-30,09:16:43 AM,11:19:59 AM,02:03:15,7,30,7395,30,7395,2
26,27,Suraj S Bilgi,2022-07-30,09:14:28 AM,01:40:23 PM,04:25:55,7,30,15955,30,15955,4
27,28,Mithun S,2022-07-30,09:13:18 AM,03:14:28 PM,06:01:10,7,30,21670,30,21670,6
28,29,Harikrishnan Shaji,2022-07-30,09:12:11 AM,01:19:25 PM,04:07:13,7,30,14833,30,14833,4
29,30,Manjunatha A,2022-07-30,09:11:59 AM,12:58:23 PM,03:46:23,7,30,13583,30,13583,3
...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,Prerna Singh,2022-07-20,02:58:25 PM,08:57:36 PM,05:59:11,7,29,21551,29,21551,5
971,972,Zeeshan,2022-07-20,02:58:19 PM,09:01:31 PM,06:03:11,7,29,21791,29,21791,6
972,973,Saurabh Shukla,2022-07-20,02:58:01 PM,03:00:01 PM,00:02:00,7,29,120,29,120,0
973,974,Sanjeev Kumar,2022-07-20,02:57:35 PM,09:01:38 PM,06:04:03,7,29,21843,29,21843,6
974,975,Ameya Jain,2022-07-20,02:57:32 PM,09:33:16 PM,06:35:44,7,29,23744,29,23744,6
975,976,Mahesh Sarade,2022-07-20,02:57:24 PM,09:36:43 PM,06:39:19,7,29,23959,29,23959,6
976,977,Nandani Gupta,2022-07-20,02:56:46 PM,08:54:58 PM,05:58:12,7,29,21492,29,21492,5
977,978,Saikumarreddy N,2022-07-20,02:55:48 PM,09:00:09 PM,06:04:20,7,29,21860,29,21860,6
978,979,Dibyanshu,2022-07-20,02:51:13 PM,03:09:10 PM,00:17:56,7,29,1076,29,1076,0
979,980,Nishtha Jain,2022-07-20,02:42:54 PM,03:15:51 PM,00:32:57,7,29,1977,29,1977,0
980,981,Khushboo Priya,2022-07-20,02:30:25 PM,03:00:55 PM,00:30:30,7,29,1830,29,1830,0
981,982,Dibyanshu,2022-07-20,02:23:31 PM,02:36:30 PM,00:12:59,7,29,779,29,779,0
982,983,Harikrishnan Shaji,2022-07-20,01:27:47 PM,03:40:36 PM,02:12:48,7,29,7968,29,7968,2
983,984,Prateek _iot,2022-07-20,01:23:56 PM,01:26:16 PM,00:02:20,7,29,140,29,140,0
984,985,Prerna Singh,2022-07-20,01:06:26 PM,01:09:26 PM,00:03:00,7,29,180,29,180,0
985,986,Hrisikesh Neogi,2022-07-20,01:04:16 PM,01:07:18 PM,00:03:01,7,29,181,29,181,0
986,987,Ineuron Intelligence,2022-07-20,12:50:54 PM,02:17:50 PM,01:26:55,7,29,5215,29,5215,1
987,988,Dibyanshu,2022-07-20,12:47:07 PM,02:13:54 PM,01:26:47,7,29,5207,29,5207,1
988,989,Mithun S,2022-07-20,12:17:21 PM,03:05:02 PM,02:47:40,7,29,10060,29,10060,2
989,990,Sudhanshu Kumar,2022-07-20,09:32:22 AM,04:29:12 PM,06:56:50,7,29,25010,29,25010,6
990,991,Wasim,2022-07-20,09:17:25 AM,03:23:56 PM,06:06:30,7,29,21990,29,21990,6
991,992,Madhulika G,2022-07-20,09:10:13 AM,03:07:44 PM,05:57:31,7,29,21451,29,21451,5
992,993,Harikrishnan Shaji,2022-07-20,09:05:41 AM,01:00:00 PM,03:54:18,7,29,14058,29,14058,3
993,994,Sowmiya Sivakumar,2022-07-20,09:04:06 AM,04:01:53 PM,06:57:47,7,29,25067,29,25067,6
994,995,Aravind,2022-07-20,09:03:51 AM,03:15:46 PM,06:11:55,7,29,22315,29,22315,6
995,996,Manjunatha A,2022-07-20,09:03:51 AM,03:02:28 PM,05:58:37,7,29,21517,29,21517,5
996,997,Bharath,2022-07-20,09:00:49 AM,03:01:32 PM,06:00:43,7,29,21643,29,21643,6
997,998,Khushboo Priya,2022-07-20,08:59:20 AM,02:26:55 PM,05:27:34,7,29,19654,29,19654,5
998,999,Nishtha Jain,2022-07-20,08:43:55 AM,02:00:33 PM,05:16:38,7,29,18998,29,18998,5
999,1000,Tarun,2022-07-01,01:52:47 AM,12:01:07 PM,514:08:20,7,26,1850900,26,1850900,514

In [107]:
100*df1['hours']/df1.groupby('month')['hours'].transform('sum')

0       0.105097
1       0.000000
2       0.105097
3       0.000000
4       0.052549
5       0.052549
6       0.052549
7       0.105097
8       0.052549
9       0.000000
10      0.000000
11      0.000000
12      0.000000
13      0.000000
14      0.000000
15      0.052549
16      0.000000
17      0.000000
18      0.105097
19      0.157646
20      0.157646
21      0.000000
22      0.052549
23      0.105097
24      0.052549
25      0.105097
26      0.210194
27      0.315292
28      0.210194
29      0.157646
         ...
970     0.262743
971     0.315292
972     0.000000
973     0.315292
974     0.315292
975     0.315292
976     0.262743
977     0.315292
978     0.000000
979     0.000000
980     0.000000
981     0.000000
982     0.105097
983     0.000000
984     0.000000
985     0.000000
986     0.052549
987     0.052549
988     0.105097
989     0.315292
990     0.315292
991     0.262743
992     0.157646
993     0.315292
994     0.315292
995     0.262743
996     0.315292
997     0.262743
998     0.262743
999    27.009984
Name: hours, Length: 1000, dtype: float64